.reply {
  & .body {
    background-color: #ebf7ed;

    &::before {
      border-top-color: #ebf7ed;
    }
  }

  & .reply-box {
    margin-bottom: 10px;
  }
}

.item {
  position: relative;
}

.depth-1 {
  &:not(:first-child) {
    padding-top: 20px;
    border-top: 1px dashed #dedede;

    & .avatar-container {
      top: 20px;
    }
  }
}

@media screen and (min-width: 480px) {
  .depth-2 {
    margin-left: 50px;
  }

  .depth-3 {
    margin-left: 100px;
  }
}

.avatar-container {
  display: inline-block;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #f0f0f0;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.body-container {
  display: inline-block;
  width: 100%;
  padding-left: 75px;
}

.info {
  margin-bottom: 10px;
}

.dot {
  margin: 0 5px;
}

.time {
  color: #c7c8c8;
  font-size: .9em;
}

.body {
  position: relative;
  background-color: #ebf8fc;
  border-radius: 2px;
  padding: 15px;
  width: 100%;
  font-size: .9em;

  & p {
    margin: 0;
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    border: 10px solid;
    border-color: #ebf8fc transparent transparent transparent;

    z-index: 5;
    transform: translateX(-50%);
  }
}

.action {
  margin: 10px auto;

  & a:not(.like) {
    margin-right: 15px;
  }
}

.like {
  text-align: center;
  color: #b1b1b1;
  float: right;
}

.like-icon {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url(../images/unlike.png) 0 0 no-repeat;
  background-size: auto 100%;
  margin-right: 3px;
}

.like-success .like-icon {
  background-image: url(../images/liked.png);
  animation: like 0.5s;
  transform-origin: bottom;
}

.like-nums {
  display: inline-block;
  vertical-align: middle;
  color: #b1b1b1;
}

@keyframes like {
  50% {
    transform: scale(1.5);
  }
}
